.page-actions {
  border-top: 1px solid var(--grey-200);
  margin-top: 1rem;
  padding: 2rem 0;
  display: flex;

  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.team-cards-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  & > * {
    flex-basis: 100%;
  }
}

.teams-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  & > * {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team-cards-list {
    & > * {
      flex-basis: calc(100% / 3 - (24px / 3) * 2);
    }
  }
  .page-actions {
    flex-direction: row;
    justify-content: flex-end;
    .input-search-bar {
      max-width: 300px;
    }
  }

  .teams-card-container {
    & > * {
      flex-basis: calc(100% / 3 - (24px / 3) * 2);
    }
  }
}
