@use "../../styles/typography" as *;
@use "../../styles/button" as *;

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h1 {
      @include title("sm", $weight: 500);
      color: var(--grey-900);
    }
    h2 {
      @include text("md");
      color: var(--grey-600);
    }

    h1,
    h2 {
      text-wrap: balance;
    }
  }

  .actions {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 100%;
    button,
    .button {
      flex-shrink: 0;
      &-primary {
        &-solid {
          @include button("lg", $color: "primary", $style: "solid");
        }
        &-outline {
          @include button("lg", $color: "primary", $style: "outline");
        }
      }
      &-grey {
        &-solid {
          @include button("lg", $color: "grey", $style: "solid");
        }
        &-outline {
          @include button("lg", $color: "grey", $style: "outline");
        }
      }
      &-error {
        &-solid {
          @include button("lg", $color: "error", $style: "solid");
        }
        &-outline {
          @include button("lg", $color: "error", $style: "outline");
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    flex-direction: row;

    .actions {
      flex-direction: row;
      width: initial;
      align-items: center;
      button,
      .button {
        &-primary {
          &-solid {
            @include button("md", $color: "primary", $style: "solid");
          }
          &-outline {
            @include button("md", $color: "primary", $style: "outline");
          }
        }
        &-grey {
          &-solid {
            @include button("md", $color: "grey", $style: "solid");
          }
          &-outline {
            @include button("md", $color: "grey", $style: "outline");
          }
        }
        &-error {
          &-solid {
            @include button("md", $color: "error", $style: "solid");
          }
          &-outline {
            @include button("md", $color: "error", $style: "outline");
          }
        }
      }
    }
  }
}
