@import "../../styles/colors";
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  position: absolute;
  width: auto;
  height: auto;
  border: 1px solid var(--grey-400);
  border-radius: 0.4rem;
}
.search-input {
  border: none;
  margin: 0.5rem;
  width: 18rem;
  outline: none;
  &::placeholder {
    color: var(--grey-400);
  }
}
.fi-rs-search {
  background-color: var(--grey-50);
}
.search {
  border: none;
  border-radius: 0.2rem;
  background-color: var(--grey-50);
  margin: 0.3rem;
  padding: 0.2rem;
}
.search:hover {
  transform: scale(1.1);
  background-color: var(--indigo-200);
}
.filter,
.sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  gap: 8px;
  width: 4.5rem;
  height: auto;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--indigo-100);
  color: var(--indigo-600);
}
.filter:hover,
.sort:hover {
  background-color: var(--indigo-200);
}
