@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;
.search-container {
  display: flex;
  flex-direction: column;
}
.search-bar {
  display: flex;
}
.search-bar input {
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 0.2rem;
  outline: none;
}
.list {
  display: initial;
  position: absolute;
  z-index: 10;
  width: 100%;
  max-height: 35vh;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow: scroll;
}
.list-none {
  display: none;
}
.search-button {
  background-color: var(--white);
  border-radius: 0.2rem;
}
.search-button:hover {
  cursor: pointer;
}
.search-result {
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.search-result:hover {
  background-color: var(--grey-100);
  cursor: pointer;
}
