@use "../../styles/shadows" as *;

.idea-menu-icon {
  border: none;
  color: var(--grey-400);
  font-size: 16px;
  padding: 0;
  i:before {
    line-height: unset;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
}
.header-card {
  position: relative;

  .submenu-idea {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 4px 0px;
    min-width: 200px;
    background: var(--white);
    border: 1px solid var(--grey-200);
    right: 0.5rem;
    top: 0.5rem;

    /* shadows/lg */
    @include shadow("lg");
    border-radius: 12px;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 16px;
      gap: 8px;
      width: 100%;
      height: 49px;
      cursor: pointer;

      a {
        list-style-type: none;
        text-decoration: none;
      }
    }
  }
}
