@use "../../styles/shadows" as *;
@use "../../styles/typography" as *;

.global-board-component-nav-bar {
  background-color: var(--primary-800);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
  margin: 10px 0px;
  .logo-and-text-component-nav-bar {
    display: flex;
    align-items: center;
  }

  i {
    padding: 7px;
    color: var(--primary-200);
    border-radius: 12px;
  }

  .title-board-component-nav-bar {
    color: var(--primary-100);
    @include text(sm);
  }
  .subtitle-board-component-nav-bar {
    color: var(--primary-100);
    @include text(xs);
  }
}
