.globalBoardSubNavBar {
  background-color: var(--primary-600);
  left: 100px;
  height: 100vh;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px 16px 0px;
}
