@use "../../styles/colors" as *;
@use "../../styles/shadows" as *;
@use "../../styles/typography" as *;

.globalNavBar {
  display: flex;
  height: 100vh;
  width: 350px;

  .mainNavBar {
    background-color: var(--primary-600);
    left: 0px;
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px 16px 0px;

    .logoCompanyNavBar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      @include shadow("xs");
      background-color: $grey-200;
      border-radius: 12px;
      margin-bottom: 15px;
    }

    .iconNavBar {
      display: flex;
      flex-direction: column;
      align-items: center;
      i {
        padding: 12px;
        color: $indigo-200;
        border-radius: 12px;
      }
      i:hover {
        background-color: $indigo-500;
      }
    }
    .LogoSalesForceNavBar {
      max-width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 12px;
      img {
        width: 80%;
      }
    }
  }
  .firstSubNavBar {
    display: none;
    background-color: var(--primary-700);
    left: 100px;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 16px;
    .titleSubNavBar {
      color: $indigo-100;
      @include text(md);
    }
    .buttonForMoment {
      background-color: var(--primary-600);
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding: 7px 0px;
      margin: 10px 0px;
      color: $indigo-100;
      width: 100%;

      i {
        padding: 7px;
        color: $indigo-200;
        border-radius: 12px;
      }
      .textBoardComponentNavBar {
        .titleBoardComponentNavBar {
          @include text(sm);
        }
      }
    }
  }
}
