@use "../../styles/colors" as *;
@use "../../styles/shadows" as *;
@use "../../styles/typography" as *;
@use "../../styles/button" as *;

.global-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100%;
  padding: 1rem;

  .logo-company-nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    @include shadow("xs");
    background-color: var(--white);
    border-radius: 12px;
    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  .main-nav-bar {
    display: none;
  }

  .burger-nav-bar {
    color: var(--white);
    font-size: 1.5rem;
  }
}
#nav-links {
  background-color: rgba(30, 27, 75, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100dvh;
  height: 100vh;

  width: 100vw;
  top: 0px;
  left: 0px;

  .main-part-nav-bar-menu-burger {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    width: 80vw;
    height: 100%;
    background-color: var(--primary-600);
    .logo-icon-and-mentionslegales-menu-burger {
      display: flex;
      flex-direction: column;
      height: 75%;
      .logo-and-icon-menu-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .logo-company-menu-burger {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          @include shadow("xs");
          background-color: var(--white);
          border-radius: 8px;
          margin-left: 16px;
          margin-top: 56px;
          margin-bottom: 20px;
          img {
            width: 20px;
            height: 20px;
          }
        }
        .part-menu-burger {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4px 8px 8px 16px;
          border-radius: 12px;
          &:hover {
            background-color: var(--primary-500);
          }
          .icon-and-text-part-menu-burger {
            display: flex;
            align-items: center;
            color: var(--primary-100);
          }
          .icon-nav-bar {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
              display: flex;
              flex-direction: column;
              padding: 8px;
              color: var(--primary-200);
              border-radius: 12px;
              border: none;
              background-color: transparent;

              i {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
              }
            }
          }
        }
        .sub-part-menu-burger {
          background-color: var(--primary-700);
          display: flex;
          flex-direction: column;
          align-items: left;
          padding: 0px 8px 8px 0px;
          .title-sub-nav-bar {
            color: var(--primary-100);
            @include text(md);
          }
        }
      }
    }
    .profil-and-logosalesforce-menu-burger {
      margin-top: 8px 0px 8px 0px;
      border-top: var(--primary-100) solid 0.5px;
      .profil-menu-burger {
        padding: 20px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 16px;
        .photo-profil-menu-burger {
          width: 20%;

          img {
            border-radius: 20px;
          }
        }
        .text-profil-menu-burger {
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include text("xs");
          color: var(--primary-100);
          p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: var(--primary-100);
          }
        }
      }
      .logo-salesforce-menu-burger {
        img {
          margin-top: 10px;
          margin-left: 16px;
          width: 70px;
          height: auto;
        }
      }
    }
  }
  .close-menu-burger {
    display: flex;
    justify-content: center;
    background-color: rgba(30, 27, 75, 0.7);
    width: 20%;

    .icon-nav-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      button {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        color: var(--white);
        border-radius: 12px;
        border: none;
        background-color: transparent;
        i {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .global-nav-bar {
    height: 100vh;
    width: 350px;
    padding: 0px;
    .logo-company-nav-bar {
      display: none;
    }
    .burger-nav-bar {
      display: none;
    }
    .main-nav-bar {
      background-color: var(--primary-600);
      left: 0px;
      height: 100vh;
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 32px 0px 16px 0px;

      .logo-company-nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        @include shadow("xs");
        background-color: var(--white);
        border-radius: 12px;
        margin-bottom: 15px;
      }

      .icon-nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 16px;
          color: var(--primary-200);
          border-radius: 12px;
          border: none;
          background-color: transparent;
          i {
            font-size: 18px;
          }
          &:hover,
          &.active {
            background-color: var(--primary-500);
          }
        }
      }
      .logo-sales-force-nav-bar {
        max-width: 64px;
        display: flex;
        justify-content: center;
        margin-top: 12px;
        img {
          width: 80%;
        }
      }
    }
  }
  .first-sub-nav-bar {
    background-color: var(--primary-700);
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 36px 16px;
    .title-sub-nav-bar {
      color: var(--primary-100);
      @include text(md);
    }
    .nav-bar-button {
      background-color: var(--primary-600);
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding: 7px 15px 7px 5px;
      margin: 10px 0px;
      color: var(--primary-100);
      width: 100%;

      i {
        padding: 7px;
        color: var(--primary-200);
        border-radius: 12px;
      }
      .text-board-component-nav-bar {
        .title-board-component-nav-bar {
          @include text(sm);
        }
      }
    }
  }
}
