@use "../../styles/shadows" as *;
@use "../../styles/typography" as *;

.avatar {
  &-navbar {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-500);
    width: 48px;
    height: 48px;
    border-radius: 48px;
    @include text("xl", $weight: 500);
    color: var(--primary-100);
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:hover {
      background-color: var(--primary-700);
    }
  }
  &-table {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-50);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    @include text("md", $weight: 500);
    color: var(--grey-600);
    overflow: hidden;
    border: 1px solid var(--grey-200);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-avatar-list {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-50);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    @include text("md", $weight: 500);
    color: var(--grey-600);
    overflow: hidden;
    border: 1px solid var(--grey-200);
    @include shadow("lg");

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &-avatar-list-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-900);
    min-width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    padding: 0.75rem;
    @include text("sm", $weight: 500);
    color: var(--grey-50);
    overflow: hidden;
    border: 1px solid var(--primary-800);
    white-space: nowrap;
    @include shadow("lg");
  }
}
