@use "../../styles/typography" as *;

.idea-like {
  border: none;
  background-color: var(--white);
  @include text("sm", $weight: 600);
  color: var(--grey-500);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  line-height: unset;
  cursor: pointer;
  min-width: 3.5rem;

  i:before {
    line-height: unset;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
  }

  .fi-rr-heart {
    color: var(--grey-500);
    font-size: 14px;
    line-height: 20px;
  }
  .fi-sr-heart {
    color: var(--grey-500);
    font-size: 14px;
    line-height: 20px;
  }
  .fi-sr-heart-crack {
    color: var(--red-600);
    font-size: 14px;
    line-height: 20px;
  }
}
