.idea-like-icon {
  cursor: pointer;
}
.idea-comment-icon {
  cursor: pointer;
}
.fi-sr-heart {
  color: #4f46e5;
}

.fi-sr-heart-crack {
  color: red;
}
.idea-like {
  border: 0;
  background-color: #fff;
}
