@use "../../styles/colors" as *;

.idea-like-icon {
  cursor: pointer;
}
.idea-comment-icon {
  cursor: pointer;
}
.fi-rr-heart {
  color:var(--grey-700);
}
.fi-sr-heart {
  color:var(--primary-600);
}
.fi-sr-heart-crack {
  color:var(--red-600);
}
.idea-like {
  border: 0;
  background-color: var(--white);
}
