@use "../../styles/typography" as *;

//
i:before {
  line-height: unset;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}

.idea-comment {
  color: var(--grey-500);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  line-height: unset;
  cursor: pointer;
  min-width: 3.5rem;
  border: none;
  background-color: transparent;
}
.idea-comment-count {
  @include text("sm", $weight: 600);
  color: var(--grey-500);
}
