@use "../../styles/typography" as *;
@use "../../styles/shadows" as *;
@use "../../styles/icon" as *;

.team-card {
  display: flex;
  padding: 1.25rem;
  align-items: flex-start;
  border: 1px solid var(--grey-200);
  background: var(--white, #fff);
  @include shadow("xs");
  gap: 0.75rem;
  flex: 1 0 0;
  cursor: pointer;
  border-radius: 0.75rem;
  max-width: 100%;
  transition: box-shadow 0.3s;
  text-decoration: none;
  &:hover {
    @include shadow("md");
  }
  .team-picture {
    flex-shrink: 0;
    overflow: hidden;
    @include icon("lg", $color: "grey", $style: solid, $shape: "circle");
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .team-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .name-team {
      @include text("md", $weight: 600);
      color: var(--grey-900);
    }
    .team-description {
      color: var(--grey-600);
      @include text("sm", $weight: 400);
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@media screen and (min-width: 768px) {
  .team-card {
    align-self: stretch;
  }
}
